<div class="continer tour_provider">


<%= form_for @inquiry, :url => users_tour_provider_inquiry_confirm_path do |f| %>
  <div class="row tour_provider__title justify-content-center">
    <h3 class="col-auto">語り部さんへコンタクト</h3>
  </div>




  <div class="row home__title justify-content-center">
  <table class="table table-borderless tour_provider__table">
    <tr>
      <th>宛先<span class="text-danger"></span></th>
      <td><%= @tour_provider.last_name %>さん宛</td>
      <%= hidden_field_tag :tour_provider_id, @tour_provider.email %>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td><%= f.text_area :message %></td>
    </tr>
  </table>
  <div class="actions row tour_provider__title justify-content-center">
      <%= f.submit "確認", class: "btn btn-info form-contorol col-auto" %>
  </div>
<% end %>

  </div>

</div>