<div class="continer home">

<div class="row home__search_image"></div>
<div class="row home__title justify-content-center">
<h3 class="col-3">語り部さん一覧</h3>
</div>

<div class="row home__title justify-content-center">
<table class="table table-hover home__table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">名前</th>
      <th scope="col"></th>
      <th scope="col">地域</th>
      <th scope="col">テーマ</th>
      <th scope="col">メッセージ</th>
    </tr>
  </thead>
  <tbody>
  	<% @providers.each do |provider| %>


    <tr>
      <th scope="row">
      	<%= image_tag attachment_url(provider, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg"), size:"50x50", class: "home__table_profile_img" %>
      </th>
      <td>
        <%= link_to (home_show_path(provider)) do %>
      	  <%= provider.last_name %>
        <% end %>
      </td>
      <td>
        <div class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-comment"><%= provider.comments.count %></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-thumbs-o-up"><%= provider.favorites.count %></i>
          </li>
        </div>
      </td>
      <td>
      	<%= provider.tour_prefecture.name %><%= provider.tour_city %>
      </td>
      <td>
        <% provider.tour_themes.each do |tour_theme| %>
	      <div class="home__tag">
	      	<i class="fa fa-chevron-right"></i>
		    <%= tour_theme.tour_theme_name %>
		  </div>
		<% end %>
      </td>
      <td>
      	<%= provider.profile_information %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
</div>


</div>
