<div class="continer tour_provider">

	<div class="card bg-light tour_provider__card col-auto">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <%= attachment_image_tag @tour_provider, :image, :fill, 60, 60, format: 'jpeg', class: "tour_provider__profile_img", fallback: "no_image.jpg" %><br><br>
	      <%= link_to "編集", edit_tour_providers_tour_providers_path,class: "btn btn-info col" %>
	    </div>

	    <div class="col-md-8">
	      <div class="card-body">
			<table class="table">
                </tr>
					<th><%= @tour_provider.last_name %></th>
				</tr>
				<tr>
					<th><%= @tour_provider.tour_prefecture.name %><%= @tour_provider.tour_city %></th>
				</tr>
				<tr>
				    <th>
				    <% @tour_provider.tour_themes.each do |tour_theme| %>
				      <div class="tour_provider__tag">
				      	<i class="fa fa-chevron-right"></i>
					    <%= tour_theme.tour_theme_name %>
					  </div>
					<% end %>
					</th>
				</tr>
				</tr>
					<th><%= @tour_provider.profile_information %></th>
				</tr>
			    </tr>
					<th>
						<div class="tour_provider__sns">
						  <a href="<%= @tour_provider.twitter_url %>" rel="nofollow">
					        <i class="fa fa-twitter" aria-hidden="true"></i>
					      </a>
					      <a href="<%= @tour_provider.facebook_url %>" rel="nofollow">
					        <i class="fa fa-facebook-official" aria-hidden="true"></i>
					      </a>
						  <a href="<%= @tour_provider.instagram_url %>" rel="nofollow">
					        <i class="fa fa-instagram" aria-hidden="true"></i>
					      </a>
					    </div>
					</th>
				</tr>
				</tr>
					<th>
						<a href="<%= @tour_provider.blog_url %>" rel="nofollow">Blog</a>
					</th>
				</tr>
				<tr>
					<th>
					     <div class="list-inline">
				          <li class="list-inline-item">
				      	    <i class="fa fa-comment"><%= @tour_provider.comments.count %></i>
				          </li>
				          <li class="list-inline-item">
				            <i class="fa fa-thumbs-o-up"><%= @tour_provider.favorites.count %></i>
				          </li>
				        </div>
					</th>
				</tr>
			</table>
	      </div>
	    </div>
	</div>
    </div>
<!-- 下記ツアー情報 -->
    <% if @tour.present? %>
      <div class="row media tour_provider__title">
		  <%= attachment_image_tag @tour, :image, :fill, 350, 350, fallback: "no_image.jpg", size:"350x350", class: "img-fluid" %>
		  <div class="media-body col-7">
		    <h5 class="mt-0 font-weight-bold"><%= @tour.tour_main_phrase %></h5>
		    <%= @tour.tour_introduction %>
		  </div>
	  </div>

	  <div class="row tour_provider__title justify-content-center">
		<h3 class="col-auto">コース例</h3>
	  </div>

      <div class="table-responsive">
	    <div class="card-deck">
          <% @tour.courses.each do |course| %>
		    <div class="card">
    	      <%= attachment_image_tag course, :image, :fill, 200, 150, fallback: "no_image.jpg", size:"200x150", class: "img-fluid" %>
		        <div class="card-body">
		          <p class="card-text"><%= course.course_introduction %></p>
		        </div>
		     </div>
          <% end %>
        </div>
      </div>
	  <div class="row tour_provider__title justify-content-center">
		<h3 class="col-auto">注意事項</h3>
	  </div>
	  <div class="row tour_provider__row justify-content-center">
		<h5 class="col-8"><%= @tour.note %></h5>
	  </div>

	  <div class="row justify-content-center">
	  	<div class="card tour_provider__fee">
		  <div class="card-header">
		    ツアー料金【一人当たり】
		  </div>
		  <div class="card-body">
		      <p>¥  <%= @tour.fee %></p>
		  </div>
	  	</div>
	  </div>
    <% end %>


	  <div class="row tour_provider__title justify-content-center">
		<% if @tour.present? %>
		  <%= link_to "ツアー編集", edit_tour_providers_tours_path,class: "btn btn-info col-5" %>
		<% else %>
		  <%= link_to "ツアー登録", new_tour_providers_tours_path,class: "btn btn-info col-5" %>
		<% end %>
	  </div>

<!-- コメント一覧 -->
	  <div class="row tour_provider__title justify-content-center">
		<h3 class="col-auto">コメント</h3>
	  </div>
	  <div class="row tour_provider__title justify-content-center">
        <table class="table table-borderless">
          <tbody>
          	<% @tour_provider.comments.each do |comment| %>
		    <tr>
		      <td scope="row"><%#= comment.user.user_name %></td>
		      <td><%#= comment.created_at.strftime('%Y/%m/%d') %></td>
		      <td><i class="fa fa-comment" aria-hidden="true"></i><%= comment.comment %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>
	  </div> <br><br><br>
  </div>
</div>