<div class="continer login">

  <div class="row  login__title">
    <h2 class="offset-1">語り部ログイン</h2>

    <div class="card col-4 offset-3">
      <div class="card-body">
        <h5 class="card-title">語り部未登録の方</h5>
        <p class=""><%= link_to "こちら", new_tour_provider_registration_path, class: "devise-link card-link"%>から新規登録してください。</p>
      </div>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row login__row offset-1">
        <%= f.label :メールアドレス,class: "col-2" %>
        <%= f.email_field :email, autocomplete: "email", class: "form-contorol offset-2" %>
    </div>

    <div class="row  login__row offset-1">
         <%= f.label :パスワード（６文字以上）,class: "col-4" %>
           <% if @minimum_password_length %>
             <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
           <% end %>
         <%= f.password_field :password, autocomplete: "current-password", class: "form-contorol" %>
    </div>


   <div class="actions  login__title">
        <%= f.submit "ログイン", class: "registration-btn btn btn-info form-contorol offset-5" %>
   </div>
<% end %>

<%#= render "tour_providers/shared/links" %>


</div>