<!DOCTYPE html>
<html>
  <head>
    <title>Storytellers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header><!-- /header -->
      <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <a class="navbar-brand" href="/"><img src="<%= asset_path "logo.jpg" %>" style="height: 50px;"></a>

        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to "初めての方へ", home_about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "語り部さん一覧", users_tour_providers_path, class: "nav-link" %>
            <% else %>
              <%= link_to "語り部さん一覧", tour_providers_path, class: "nav-link" %>
            <% end %>
          </li>
<!--           <li class="nav-item">
            <a class="nav-link" href="#">地域</a>
          </li> -->
          <li class="nav-item">
            <% if tour_provider_signed_in? %>
              <%= link_to "ログアウト", destroy_tour_provider_session_path, method: :delete,class: "nav-link" %>
            <% elsif user_signed_in? %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "nav-link" %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path,class: "nav-link" %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header><!-- /header -->

    <%= yield %>

    <footer>
      <nav class="navbar justify-content-center navbar-light border-top text-muted">
        Storytellsers
      </nav>
    </footer>
  </body>
</html>
